@import '../../styles/variables.scss';

.StudentCard {
  border: 2px solid $primaryColor;
  width: 100%;
  padding: 20px;
  min-width: 100%;
  margin: 30px 0px;

  .student-info {
    display: flex;
  }

  .student-info__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .stats {
    display: flex;
    gap: auto;
    white-space: wrap;
    max-width: inherit;
    // margin-right: 70px;

    h4 {
      font-weight: 600;
    }

    ul {
      list-style-type: none;
      white-space: nowrap;
    }

    li {
      line-height: 40px;
    }
  }

  img {
    display: block;
    width: 80px;
    border-radius: 5px;
    margin-right: 10px;
  }

  h3 {
    font-weight: 700;
  }

  span {
    font-weight: normal;
  }

  span,
  .expand {
    color: $primaryColor;
  }

  .expand {
    text-decoration: underline;
  }

  .stats {
    margin-top: 20px;
    // max-width: 100%;
    width: auto;
    // overflow: hidden;
  }

  .width-100 {
    width: 100%;
  }
}
