.main {
    display: flex;
    margin: 20px;
    padding: 20px;
}

#btn-title {
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.filter-btn {
    width: 500px;
    text-align: left;
    margin-bottom: 15px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #67a35f;
    height: 40px;
}

.filter-btn:hover {
    cursor: pointer;
    background-color: lightgrey;
}