.cohort-list__container__filter-title {
    padding: 20px;
    text-align: center;
}

.cohort-list__container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.cohort-list__container__filter-btn {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #67a35f;
    height: 40px;
}

.cohort-list__container__filter-btn:hover {
    cursor: pointer;
    background-color: lightgrey;
}