.card {
    display: grid;
    grid-template-columns: 1fr 3.2fr;
    padding: 15px;
    border: 1px solid #67a35f;
    margin: 10px;
    width: 1000px;
}

img {
    width: 150px;
}

h3, p {
    margin: 9px;
}

#list-title {
    text-align: left;
}

#show-more-btn {
    text-align: left;
    margin: 2px;
    margin-top: 20px;
    text-decoration: underline;
    border: none;
    background-color: white;
    color: #67a35f;
    text-decoration-color: #67a35f;
}

#show-more-btn:hover {
    color: #477041;
    text-decoration-color: #477041;
    cursor: pointer;
}

span {
    color:#67a35f;
}

