@import '../../styles/variables.scss';

.StudentList {
  width: 60%;

  h2 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  span {
    color: $primaryColor;
  }

  .grid-icon {
    display: block;
    width: 2.5rem;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.grid-view {
  width: max-content;
}