
header {
    background: green;
    font-family: sans-serif;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3em;

    h1 {
    margin: 0;
    }
}
main {
    padding: 50px;
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: sans-serif
}

ul {
    padding: 0px
}

.numberOfStudents{
    color: green;
}

hr {
    margin-top: 15px;
    border: 1.5px solid green;
}