.title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: green;
    margin-top: 1px;
    height: 100px;
    background-color: #5ca56f;
    color: white;
}

/* .body-container {
    display : block;
    
}  */

/* .cohortlist {
    display: inline-block;
} */