.header {
  background-color: #5C946E;
  color: white;
  text-align: center;
  padding: 1.25rem;
  margin-bottom: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.cohorts {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.cohorts h3 {
  text-align: start;
  font-weight: bolder;
}

.cohorts hr {
  border: 1.5px solid;
  color:#5C946E;
}

.cohort-list {
  margin-left:4rem;
}

.cohort-list h3 {
  font-weight: lighter;
}