:root {
  --green: #5ba769;
}

* {
  font-family: sans-serif;
}

body {
}

h2, h3, h4 {
  margin: 0 0 0 0;
}

hr {
 border-top: 2px solid var(--green);
}

header {
  height: 75px;
  background: var(--green);
  align-content: center;
}

.site-header {
  margin: 0px;
  text-align: center;
}

main {
  margin: 20px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 20px;
}

ul {
  list-style: none;
}

.green {
  color: var(--green);
}

.cohort-panel h2 {
  text-align: center;
}

.cohort-name {
  margin-left: 20px;
}

.student-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.student-card {
  border: 1px solid var(--green);
  margin: 20px 0;
  padding: 20px;
}

.student-card-upper {
  display: grid;
  grid-template-columns: 100px 3fr 1fr;
}

.avatar {
  width: 75px;
  aspect-ratio: 1;
  background: gray;
}

.student-name {
  margin: 0px;
}

.detail-toggle {
  grid-column: 2 / span 1;
}

.student-progress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

input {
  margin: 10px 0px;
}

button {
  color: white;
  background: var(--green);
  border: none;
  border-radius: 3px;
}

.note {
  list-style: disc;
}